.dashboard {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.homeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.homeTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}