.allDaysButtons {
    margin-top: 10px;
   
}

button.allDaysSave.btn.btn-secondary.btn-sm {
    background-color: seagreen;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

button.allDaysCancel.btn.btn-secondary.btn-sm {
    margin-left: 5px;
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}