.medCard.card {
    width: 250px;
    margin-left: 10px;
    border: solid 10px seagreen;
    border-radius: 18px;
    background-color: lightyellow;
}

form.medUpdateForm {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

form.medForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 18px double seagreen;
    border-radius: 18px;
}

button.medCancel.btn.btn-secondary {
    margin-left: 4px;
    margin-top: 10px;
}

button.medSave.btn.btn-secondary {
    margin-top: 10px;
}

button.medEdit.btn.btn-secondary {
    margin-left: 10px;
    margin-top: 10px;
}

button.medDelete.btn.btn-secondary {
    margin-left: 4px;
    margin-top: 10px;
}

button.medAdd.btn.btn-secondary {
    margin-left: 10px;
}

.medList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.medications {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}