.medCard.card {
    width: 400px;
    height: 250px;
    margin-left: 10px;
    border: solid 10px seagreen;
    border-radius: 18px;
    background-color: lightyellow;
}

form.medUpdateForm {
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

section.medFormContainer {
    display: flex;
    justify-content: center;
}

form.medForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

button.medCancel.btn.btn-secondary {
    margin-left: 4px;
    margin-top: 10px;
    margin-right: 22px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: red;
}

button.medSave.btn.btn-secondary {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: seagreen;
}

button.medEdit.btn.btn-secondary {
    margin-left: 5px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: blue;
}

button.medDelete.btn.btn-secondary {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: red;
}

button.medAdd.btn.btn-secondary {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: seagreen;
}

.medList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.medications {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.medicationCardTitle.card-title {
    font-size: 20px;
    font-weight: bold;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}