.tuesdayCard.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 230px;
}

.tuesdayCardTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 270px;
    justify-content: space-between;
    align-content: stretch;
}

.tuesdayButtons {
    margin-top: 10px;
}

button.tuesdaySave.btn.btn-secondary.btn-sm {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: seagreen;
}

button.tuesdayCancel.btn.btn-secondary.btn-sm {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: red;
    margin-left: 5px;
}

button.tuesdayDelete.btn.btn-secondary.btn-sm {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: red;
}

button.tuesdayAdd.btn.btn-secondary.btn-sm {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: seagreen;
}

.tuesdayMainCard {
    border: 10px solid seagreen;
    border-radius: 18px;
    background-color: lightyellow;
    width: 300px;
    margin-top: 10px;
    margin-right: 10px;
}