.mainTitle {
    display: flex;
    text-align: center;
    color: white;
    flex-direction: row;
    justify-content: flex-end;
}

nav.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
}

.header {
    background-color:seagreen;
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: yellow;
}

a.nav-link:focus {
    color: yellow; 
}

.intro {
    color: white;
    display: flex;
    margin-right: 20px;
}

.mainImage {
    display: flex;
    height: 100px;
    justify-content: center;
}

.logo {
    width: 225px;
    height: 225px;;
}

h1.title {
    margin-right: 100px;
}
