.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.container--login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form.form--login {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 18px double seagreen;
  border-radius: 18px;
  background-color: lightyellow;
}

.register {
  display: flex;
  justify-content: center;
}

input#email {
  margin-bottom: 10px;
  margin-top: -15px;
  border: 2px solid seagreen;
}

input#firstName {
  border: 2px solid seagreen;
}

img.loginImage {
  height: 300px;
}

input#lastName {
  border: 2px solid seagreen;
}

button.sign-in-button.btn.btn-secondary {
  margin-bottom: 10px;
  background-color: seagreen;
}

h1.loginTitle {
  margin-bottom: 20px;
  color: white;
}

label.email {
  margin-bottom: 15px;
}

button.regCancel.btn.btn-secondary.btn-sm {
  background-color: red;
  margin-left: 5px;
  margin-bottom: 2px;
}

button.regSignIn.btn.btn-secondary.btn-sm {
  background-color: seagreen;
  margin-bottom: 2px;
}

.mainLogin {
  background-color: seagreen;
  width: auto;
  height: auto;
  min-height: 100vh;
}