.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.container--login {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

form.form--login {
  display: flex;
  align-items: center;
  height: 600px;
  width: 600px;
  flex-direction: column;
  border: 18px double seagreen;
  border-radius: 18px;
  background-color: lightyellow;
}

.belowInput {
  display: flex;
  flex-direction: column;
}

img.loginImage {
  margin-left: 80px;
}

h2.signIn {
  margin-top: 10px;
  margin-bottom: 100px;
  font-size: 50px;
}

.register {
  display: flex;
  justify-content: center;
}

input#email {
  text-align: center;
  padding: 6px 100px 6px 100px;
  margin-bottom: 10px;
  border: 2px solid seagreen;
}

input#firstName {
  text-align: center;
  padding: 6px 100px 6px 100px;
  margin-bottom: 10px;
  border: 2px solid seagreen;
}

input#lastName {
  text-align: center;
  padding: 6px 100px 6px 100px;
  margin-bottom: 10px;
  border: 2px solid seagreen;
}

button.sign-in-button.btn.btn-secondary {
  margin-bottom: 10px;
  background-color: seagreen;
}

h1.loginTitle {
  margin-bottom: 20px;
  color: white;
}

h2.registerTitle {
  font-size: 40px;
  margin-bottom: 70px;
}

button.regCancel.btn.btn-secondary.btn-sm {
  background-color: red;
  margin-left: 5px;
  margin-bottom: 2px;
}

button.regSignIn.btn.btn-secondary.btn-sm {
  background-color: seagreen;
  margin-bottom: 2px;
}

.mainLogin {
  display: flex;
  background-color: seagreen;
  width: auto;
  height: auto;
  min-height: 100vh;
  min-width: 150vh;
  align-items: center;
  justify-content: center;
}

label {
  display: inline-block;
  font-weight: 600;
}