.dialog {
  min-width: 15rem;
  min-height: 5rem;
}



.container--login {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

form.form--login {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 18px double seagreen;
  border-radius: 18px;
  background-color: lightyellow;
}

.register {
  display: flex;
  justify-content: center;
}

input#email {
  margin-bottom: 10px;
  margin-top: -15px;
}

button.sign-in-button.btn.btn-secondary {
  margin-bottom: 10px;
}

h1.loginTitle {
  margin-bottom: 20px;
}

label.email {
  margin-bottom: 15px;
}